div.Header {
  padding: 0 12px;
}

span.Phonetic {
  font-size: 35px;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
}

.Header {
  color: #f95959;
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
  margin-top: 15px;
}

.react-audio-player {
  height: 45px;
  width: 200x;
}
